*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body {
    /* Set a solid color as a fallback for older browsers */
    background-color:  #0f0404;
    /* Use the background-image property with the radial-gradient to create dots */
    background-image: radial-gradient(red 6%, transparent 5%);
    /* Adjust the size and position of the dots */
    background-size: 20px 20px; /* This controls the distance between the dots */
    
  }
  a{
    text-decoration: none;
  }
  
  
nav{
    text-align: center;
    box-shadow: 0cqh;
    background-color: #0f0404;
    color: white;
    font-size: 25px;
    padding: 14px 0 14px 0;
    border-bottom:  4px solid orangered;
    font-style: italic;
}
h1{
    color: white;
    text-align: center;
    margin-top: 60px;
    font-size: 60px;
}
strong{
    color: red;
}
h3{
    color: white;
    text-align: center;
    margin: 27px;
    font-size: 32px;
    font-family: monospace;
    font-style: oblique;

}
 button{
    
   position: relative;
    
   display: flex;
   justify-content: center;
   align-items: center; 
   background-color: red;
   left:30% ;
   border-radius: 12px;
   font-size: 40px;
   padding: 15px;
   font-weight: bold;
   color: white;
   margin-top: 40px;
   

} 
 button:hover{
    background-color : red;
    border-bottom: 2px solid #fff;
    color:#0f0404;
    clip-path:polygon(0px 3px,var(--d) 0,100% 0,100% 100%,var(--d) 100%,0  calc(100% - 3px));
    transform:perspective(1000px) rotateY(40deg);
    transition:0.4s,clip-path 0.4s 0.4s,transform 0.4s 0.4s;
} 
p{
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
}

img{
    background: transparent;
    width: 1500px;
    height: 600px;
    position: relative;
    
}
h2{
    color: white;
    text-align: center;
    font-size: 45px;
}
div{
    color: white;
}
.container{
    display: flex;
   
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.card{
    
    background-color:		rgb(62, 13, 13);
    padding: 30px;
   
    font-size: 18px;
    flex-basis: 16%;
    font-weight: bold;
    width: 250px;
    height: 250px;
    transition: transform .2s;
    border-radius: 7px ;
    border-bottom: 4px solid rgb(134, 134, 16);
    

}
.card:hover{
    background-color: rgb(13, 2, 2);
    border-bottom: 2px solid purple;
    transform: scale(1.08)
}
footer{
    color: white;
    background-color: black;
    text-align: center;
    margin-top: 90px;
    padding: 40px;
}
/* mobile responsive */

  /* img slider */

  main{
    width: 60%;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0px 0px 3px  grey;

  position: relative;
  overflow: hidden;


  }
  .slide{
           width: 100%;
           height: 100%;
           transition: 1s;
           position: absolute;
  }
.navbar{
    
    text-align: center;
    margin-top: 15px; 
    
    

}
.onclick{
    height: 30px;
    width: 30px;
}
@media only screen and (min-width: 300px) and (max-width: 450px) {
    body{
        overflow-x: hidden;
    }
    nav{
        width: 120vw;
        
        text-align: center;
        font-size: 20px;
        
       
    }
    h1{
        width: 90%;
        font-size: 18px;
        margin: auto;
        margin-top: 30px;
        margin-left: 50px;

    } 
    h3{
        width: 100%;
        font-size: 19px;
    }
    
    button{
        align-items: center;
        justify-content: center;
        font-size: 13px;
        
    }
    p{
      width: 90%;
      text-align: center;   
      font-size: 14px;
      margin-left: 40px;

    }
    .container {
     width: 100%;
     justify-content: center;
     flex-direction: column;
     font-size: 40px;
     margin-right: 40px;
    }
    .card{
        margin: auto;
        font-size: 20px;
        margin-right: 35px;
        
        
    }
    img{
        width: 100%;
        height: auto;
    }

    
   
    
    h2{
        margin-left: 40px;
        font-size: 30px;
    }
    main{
        width: 90%;
    height: 200px;
    margin: 20px 20px 10px 50px;
    
   

  
        
    }
    .navbar{
        margin: 10px 0 50px 50px;
    }
    footer{
          width: 120vw;
          font-size: 13px;
          background-color: red;
           overflow-x: visible;  
        }
        .quality{
            margin: 10px 50px 0 30px;
        }
    
  }
  @media only screen and (min-width: 450px) and (max-width: 570px){
    body{
        overflow-x: hidden;
    }
    nav{
        width: 120vw;
        text-align: center;
        font-size: 30px;
        
       
    }
    h1{
        width: 95%;
        font-size: 25px;
         margin: 20px 30px 0 50px ;

    } 
    h3{
        width: 100%;
        font-size: 25px;
        margin: 30px  40px 0 45px ;
    }
    
    button{
       
      font-size: 18px;
        
    }
    p{
      width: 90%;
      text-align: center;   
      font-size: 20px;
      margin: 30px 70px 20px ;

    }
    .container {
     width: 100%;
     justify-content: center;
     flex-direction: column;
     font-size: 40px;
     margin-right: 40px;
    }
    .card{
        margin: auto;
        font-size: 20px;
        margin-right: 100px;
        
        
    }
    img{
        width: 100%;
        height: auto;
    }

    
   
    
    h2{
        margin-left: 40px;
        font-size: 30px;
    }
    main{
        width: 80%;
        height: 250px;
       margin: 30px 15px 0 60px;
      
        
    }
    .navbar{
        margin: 10px 10px 10px  80px ;
    }
    footer{
          width: 120vw;
          font-size: 14px;
          background-color: red;
           overflow-x: visible;  
        }
        .quality{
            margin: 20px 0px 0 40px;
        }

  }
  @media only screen and (min-width: 570px) and (max-width: 655px)
{
    body{
        overflow-x: hidden;
    }
    nav{
        width: 120vw;
        text-align: center;
        font-size: 30px;
        
       
    }
    h1{
        width: 100%;
        font-size: 30px;
         margin: 20px 50px 0 20px ;

    } 
    h3{
        width: 100%;
        font-size: 30px;
        margin: 30px  40px 0 25px ;
    }
    
    button{
       
      font-size: 18px;
        
    }
    p{
      width: 90%;
      text-align: center;   
      font-size: 23px;
      margin: 30px 50px 10px ;

    }
    .container {
     width: 100%;
     justify-content: center;
     flex-direction: column;
     font-size: 50px;
     margin-right: 40px;
    }
    .card{
        margin: auto;
        font-size: 20px;
        margin-right: 140px;
        
        
    }
    img{
        width: 100%;
        height: auto;
    }

    h2{
        margin-left: 40px;
        font-size: 30px;
    }
    main{
      width: 90%;
      height: 300px;
      margin: 20px 30px 0 50px;
        
    }
    .navbar{
        margin: 10px 10px 10px 90px   ;
        
       
    }

    footer{
          width: 120vw;  
          flex-basis: 100%;
          font-size: 14px;
        }
        .quality{
            margin: 20px 0px 0 40px;
        }

}
@media only screen and (min-width: 650px) and (max-width: 945px)
{
    body{
        overflow-x: hidden;
    }
    nav{
        width: 120vw;
        text-align: center;
        font-size: 40px;
        
       
    }
    h1{
        width: 100%;
        font-size: 30px;
         margin: 20px 50px 0 20px ;

    } 
    h3{
        width: 100%;
        font-size: 30px;
        margin: 30px  40px 0 25px ;
    }
    
    button{
       
      font-size: 18px;
        
    }
    p{
      width: 90%;
      text-align: center;   
      font-size: 23px;
      margin: 30px 50px 10px ;

    }
    .container {
        display: flex;
   
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
    }
    .card{
        background-color:		rgb(62, 13, 13);
    padding: 30px;
   
    font-size: 18px;
    flex-basis: 25%;
    font-weight: bold;
    width: 250px;
    height: 230px;
    transition: transform .2s;
    border-radius: 7px ;
    border-bottom: 4px solid rgb(134, 134, 16);
    

        
    }
    img{
        width: 100%;
        height: auto;
    }

    h2{
        margin-left: 40px;
        font-size: 30px;
    }
    main{
      width: 90%;
      height: 300px;
      margin: 20px 30px 0 50px;
        
    }
    .navbar{
        margin: 10px 10px 10px 90px   ;
        
       
    }

    footer{
          width: 120vw;  
          flex-basis: 100%;
          font-size: 14px;
        }
        .quality{
            margin: 20px 0px 0 40px;
        }

}
@media only screen and (min-width: 945px) and (max-width: 1300px)
{
    body{
        overflow-x: hidden;
    }
    nav{
        width: 120vw;
        text-align: center;
        font-size: 40px;
        
       
    }
    h1{
        width: 100%;
        font-size: 30px;
         margin: 20px 50px 0 20px ;

    } 
    h3{
        width: 100%;
        font-size: 30px;
        margin: 30px  40px 0 25px ;
    }
    
    button{
       
      font-size: 25px;
        
    }
    p{
      width: 90%;
      text-align: center;   
      font-size: 23px;
      margin: 30px 50px 10px ;

    }
    .container {
        display: flex;
   
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
    }
    .card{
        background-color:		rgb(62, 13, 13);
    padding: 30px;
   
    font-size: 18px;
    flex-basis: 25%;
    font-weight: bold;
    width: 250px;
    height: 230px;
    transition: transform .2s;
    border-radius: 7px ;
    border-bottom: 4px solid rgb(134, 134, 16);
    

        
    }
    img{
        width: 100%;
        height: auto;
    }

    h2{
        margin-left: 40px;
        font-size: 30px;
    }
    main{
      width: 60%;
      height: 300px;
      margin: 20px 10px 0 250px;
        
    }
    .navbar{
        margin: 10px 10px 10px 90px   ;
        
       
    }

    footer{
          width: 120vw;  
          flex-basis: 100%;
          font-size: 14px;
        }
        .quality{
            margin: 20px 0px 0 40px;
        }

}
 